@font-face{
    font-family:'FS Elliot Pro Thin';
    font-weight:200;
    font-style:normal;
    font-display:swap;
    text-rendering:optimizeLegibility;
    src:url("../font/fs-elliot-pro-thin.otf") format("openType");
}
@font-face{
    font-family:'FS Elliot Pro Thin Italic';
    font-weight:200;
    font-style:italic;
    text-rendering:optimizeLegibility;
    src:url("../font/fs-elliot-pro-thin-italic.otf") format("openType");
}
@font-face{
    font-family:'FS Elliot Pro Light';
    font-weight:300;
    font-style:normal;
    font-display:swap;
    text-rendering:optimizeLegibility;
    src:url("../font/fs-elliot-pro-light.otf") format("openType");
}
@font-face{
    font-family:'FS Elliot Pro Light Italic';
    font-weight:300;
    font-style:italic;
    text-rendering:optimizeLegibility;
    src:url("../font/fs-elliot-pro-light-italic.otf") format("openType");
}
@font-face{
    font-family:'FS Elliot Pro';
    font-weight:400;
    font-style:normal;
    font-display:swap;
    text-rendering:optimizeLegibility;
    src:url("../font/fs-elliot-pro-regular.otf") format("openType");
}
@font-face{
    font-family:'FS Elliot Pro Bold';
    font-weight:700;
    font-style:normal;
    font-display:swap;
    text-rendering:optimizeLegibility;
    src:url("../font/fs-elliot-pro-bold.otf") format("openType");
}
@font-face{
    font-family:'FS Elliot Pro Bold Italic';
    font-weight:700;
    font-style:italic;
    text-rendering:optimizeLegibility;
    src:url("../font/fs-elliot-pro-bold-italic.otf") format("openType");
}
