:root {
    /* fonts */
    --heading-font: 'FS Elliot Pro Bold', sans-serif;
    --primary-font: 'FS Elliot Pro', sans-serif;

    /* colors */
    --primary-color: #0397E5;
    --secondary-color: #1953A5;
    --text-color-a: #263348;
    --text-color-b: #3B4358;
    --text-color-c: #193B65;
    --text-color-d: rgba(77, 87, 103, 0.75);
    --dim-text-color: rgba(38, 51, 72, 0.30);
    --light-a: #FFF;
    --light-b: #F0F5FA;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, 
body {
	scroll-behavior: smooth;
	font-size: 14px;
	line-height: 100%;
	font-family: var(--primary-font);
	color: var(--text-color-a);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

.m-5 { margin: 5rem; }
.m-4 { margin: 4rem; }
.m-3 { margin: 3rem; }
.m-2 { margin: 2rem; }
.m-1 { margin: 1rem; }
.m-0, .my-0, .mx-0 { margin: 0; }

.my-5 {  margin: 5rem 0; }
.my-4 {  margin: 4rem 0; }
.my-3 {  margin: 3rem 0; }
.my-2 {  margin: 2rem 0; }
.my-1 {  margin: 1rem 0; }

.mx-5 { margin: 0 5rem; }
.mx-4 { margin: 0 4rem; }
.mx-3 { margin: 0 3rem; }
.mx-2 { margin: 0 2rem; }
.mx-1 { margin: 0 1rem; }

.mt-5 { margin-top: 5rem; }
.mt-4 { margin-top: 4rem; }
.mt-3 { margin-top: 3rem; }
.mt-2 { margin-top: 2rem; }
.mt-1 { margin-top: 1rem; }
.mt-0 { margin-top: 0; }

.mb-5 { margin-bottom: 5rem; }
.mb-4 { margin-bottom: 4rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-0 { margin-bottom: 0; }

.mr-5 { margin-right: 5rem; }
.mr-4 { margin-right: 4rem; }
.mr-3 { margin-right: 3rem; }
.mr-2 { margin-right: 2rem; }
.mr-1 { margin-right: 1rem; }
.mr-0 { margin-right: 0; }

.ml-5 { margin-left: 5rem; }
.ml-4 { margin-left: 4rem; }
.ml-3 { margin-left: 3rem; }
.ml-2 { margin-left: 2rem; }
.ml-1 { margin-left: 1rem; }
.ml-0 { margin-left: 0; }

.p-5 { padding: 5rem; }
.p-4 { padding: 4rem; }
.p-3 { padding: 3rem; }
.p-2 { padding: 2rem; }
.p-1 { padding: 1rem; }
.p-0, .py-0, .px-0 { padding: 0 !important; }

.py-5 { padding: 5rem 0; }
.py-4 { padding: 4rem 0; }
.py-3 { padding: 3rem 0; }
.py-2 { padding: 2rem 0; }
.py-1 { padding: 1rem 0; }

.px-5 { padding: 0 5rem; }
.px-4 { padding: 0 4rem; }
.px-3 { padding: 0 3rem; }
.px-2 { padding: 0 2rem; }
.px-1 { padding: 0 1rem; }

.pt-5 { padding-top: 5rem; }
.pt-4 { padding-top: 4rem; }
.pt-3 { padding-top: 3rem; }
.pt-2 { padding-top: 2rem; }
.pt-1 { padding-top: 1rem; }
.pt-0 { padding-top: 0; }

.pb-5 { padding-bottom: 5rem; }
.pb-4 { padding-bottom: 4rem; }
.pb-3 { padding-bottom: 3rem; }
.pb-2 { padding-bottom: 2rem; }
.pb-1 { padding-bottom: 1rem; }
.pb-0 { padding-bottom: 0; }

.pr-5 { padding-right: 5rem; }
.pr-4 { padding-right: 4rem; }
.pr-3 { padding-right: 3rem; }
.pr-2 { padding-right: 2rem; }
.pr-1 { padding-right: 1rem; }
.pr-0 { padding-right: 0 !important; }

.pl-5 { padding-left: 5rem; }
.pl-4 { padding-left: 4rem; }
.pl-3 { padding-left: 3rem; }
.pl-2 { padding-left: 2rem; }
.pl-1 { padding-left: 1rem; }
.pl-0 { padding-left: 0; }

section {
    max-width: 1209px;
    border: 1px solid rgba(25, 59, 101, 0.08);
    box-shadow: 0px 0px 4px rgba(25, 59, 101, 0.05);
    border-radius: 12px;
    margin: 2rem auto;
}

.gradient-borders {
    position: relative;
    padding: 50px;
}

.gradient-borders::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 3px;
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.row {
    display: flex;
    position: relative;
    z-index: 999;
}

.row-center {
    justify-content: center;
    align-items: center;
}

.row-space-between {
    justify-content: space-between;
    align-items: center;
}

.row-stretch {
    justify-content: center;
    align-items: stretch;
}

.col-12 { width: 100%; }
.col-8 { width: 80%; }
.col-7 { width: 60%; }
.col-6 { width: 50%; }
.col-5 { width: 40%; }
.col-4 { width: 35%; }
.col-3 { width: 30%; }

button {
    cursor: pointer;
    width: 150px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--light-a);
    border: none;
    border-radius: 50px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 17px;
    letter-spacing: 1.75px;
    transition: 0.7s;
}

button:hover {
    transition: 0.8s;
    background-color: var(--secondary-color);
}

@media screen and (max-width: 991px) {
    .row-center { align-items: center; }
}

@media screen and (max-width: 556px) {
    .gradient-borders {
        padding: 30px 40px;
    }

    .row {display: block;}
    
    .col-12, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3 { width: 100%; }
}