.label {
    width: 150px;
    padding: 7px;
    border: 2px solid var(--dim-text-color);
    text-align: center;
    border-radius: 28px;
    margin-bottom: 15px;
}

.label p {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--dim-text-color);
}

.section-heading {
    max-width: 358px;
    font-size: 32px;
    line-height: 100%;
}

.rating-set {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.rating-item img {
    margin-bottom: 20px;
    border: 3.3px solid transparent;
    border-radius: 50%;
    transition: 0.7s;
}

.rating-item p {
    font-size: 14px;
    color: rgba(38, 51, 72, 0.30);
    text-transform: uppercase;
    transition: 0.7s;
}

.rating-item:hover img {
    border: 3.3px solid var(--primary-color);
    transition: 0.8s;
}

.rating-item:hover p {
    color: var(--text-color-a);
    transition: 0.8s;
}

.checked img {
    border: 3.3px solid var(--primary-color);
    transition: 0.8s;
}

.checked  p {
    color: var(--text-color-a);
    transition: 0.8s;
}

.progress-container {
    display: flex;
    align-items: center;
}

.progress-label span { color: var(--dim-text-color); }

.progress-bar {
    margin-left: 10px;
    width: 670px;
    height: 12px;
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    border-radius: 50px;
}

button {
    width: 150px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--light-a);
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    transition: 0.8s;
    background-color: var(--secondary-color);
}

div.close {
    position: absolute;
    right: 17px;
    top: 6%;
    width: 37px;
    height: 37px;
    padding: 10px;
    color: var(--dim-text-color);
    background-color: var(--light-a);
    text-align: center;
    border: 2px solid var(--dim-text-color);
    border-radius: 50%;
    cursor: pointer;
}

div.close span { font-size: 20px; }

@media screen and (max-width:991px) {
    .rating-set { margin-top: 10px; }

    .rating-item img { margin-bottom: 15px; }
    
    .md-col-8 { width: 75%; }
    .md-col-4 { 
        width: 25%;
        text-align: right;
    }

    .progress-bar { 
        width: 100%;
        margin-right: 10px;
    }
}

@media screen and (max-width: 556px) {
    .md-col-8, .md-col-4 { width: 100%; }

    .md-col-4 { text-align: center; }

    .rating-set { margin-top: 20px; }

    .label, .progress-container { margin-bottom: 20px; }

    .rating-item img { 
        width: 45px;
        margin: 5px 5px 15px 5px;
    }

    .rating-item p {
        font-size: 12px;
    }
}