.scheduler { 
    max-width: 990px;
    background-color: #F1F4FB;
}

.scheduler h2 {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 9px;
}

.scheduler p {
    font-size: 18px;
    line-height: 162%;
    color: rgba(38, 51, 71, 0.7);
    font-family: var(--primary-font);
}

.demo-date h3 {
    color: var(--primary-color);
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.demo-date p {
    font-size: 16px;
    line-height: 162%;
    color: var(--text-color-a);
}

.scheduler-background {
    background: url("../../van.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 98.5%;
    mix-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.calendar-container {
    display: flex;
    align-items: center;
}

.calendar-item {
    background-color: var(--light-a);
    text-align: center;
    /* color: var(--text-color-a); */
    width: 115px;
    height: 115px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    transition: 0.4s;
}

.calendar-item:hover {
    transition: 0.7s;
    background-color: rgba(245, 245, 245, 0.7);
}

.calendar-item:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.today:after {
    content: "Today";
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    color: rgba(38, 51, 72, 0.5);
    margin-top: 20px;
    position: absolute;
    top: 97%;
    left: 38px;
}

.calendar-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

p.calendar-month {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 3px;
}

p.calendar-day {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 3px;
}

p.calendar-day-name {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.booked {
    background-color: var(--primary-color);
    border: none;
    width: 120px;
    min-height: 130px;
    padding: 20px;
    border-radius: 8px;
    transition: 0.4s;
}

.booked:hover {
    background-color: #1953A5;
    transition: 0.7s;
}

.booked p { color: var(--light-a); }

.slide-next {
    width: 41px;
    height: 81px;
    background-color: rgba(212, 219, 230, 0.5);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 30.5px 10px;
    cursor: pointer;
    transition: 0.7s;
}

.slide-next:hover {
    transition: 0.8s;
    background-color: rgba(212, 219, 230, 0.75);
}

.scheduler-cta-btn {
    width: 97.5%;
    height: 47px;
}