.component-2 {
    max-width: 990px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
}

.component-2-row-2 {
    max-width: 990px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-width: 0;
    background: rgba(25, 83, 165, 0.1);
}

.title-container {
    display: flex;
    align-items: center;
}

.title-date p {
    font-size: 28px;
    text-align: center;
    font-family: var(--heading-font);
}

.title-date span {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--primary-font);
    margin-bottom: 8px;
    letter-spacing: 2px;
}

.title-milestone h2 {
    font-size: 32px;
    font-family: var(--heading-font);
}

.title-milestone span {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 11px;
    line-height: 100%;
    letter-spacing: 2px;
}

.tasks-container,
.task-addons,
.task-labels,
.task-points { 
    display: flex;
}

.tasks-container {
    flex-wrap:  wrap;
}

.card-layer { 
    cursor: pointer;
    width: 32%;
}

.task-card {
    background: #FFFFFF;
    border: 1px solid rgba(38, 51, 72, 0.1);
    box-shadow: 0px 6px 12px rgba(216, 216, 216, 0.1);
    border-radius: 6px;
    padding: 2.5rem 2rem 3.7rem 2rem;
    position: relative;
    transition: 0.7s;
}

.card-layer:hover .task-card:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 6px;
    padding: 3px;
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    -webkit-mask: 
        linear-gradient(#F5F9FF 0 0) content-box, 
        linear-gradient(#F5F9FF 0 0);
    -webkit-mask-composite: xor;
          mask-composite: exclude;
    transition: 0.8s;
}

/* displays button */
.card-layer:hover .task-footer button {
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms linear 0s, visibility 0s linear 0s;
}
/* displays button */

.task-card h4 { 
    font-size: 20px;
    line-height: 24px;
}

p.task-description {
    font-size: 16px;
    line-height: 181%;
    color: var(--text-color-d);
}

.task-labels,
.task-points {
    width: 45%;
    align-items: center;
}

.task-labels {
    width: 47%;
    background-color: var(--light-a);
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 28px;
}

.task-labels img {
    display: inline-block;
    margin: 0 11px 0 5px;
}

.task-points img {
    display: inline-block;
    margin: 0 auto;
}

.task-labels p {
    font-size: 14px;
    line-height: 17px;
    color: var(--dim-text-color);
}

.task-points p {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.task-footer {
    position: absolute;
    bottom: -18px;
    left: 23%;
}

.task-footer button {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 210ms linear 0s, visibility 0s linear 500ms;
    -o-transition: opacity 210ms linear 0s, visibility 0s linear 500ms;
    transition: opacity 210ms linear 0s, visibility 0s linear 500ms;
}

.mystery-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mystery-box-content h3 {
    font-size: 24px;
    line-height: 29.18px;
    margin-bottom: 6px;
}

.mystery-box-content p {
    font-size: 16px;
    line-height: 162%;
    color: var(--text-color-d);
}

.timer-content p.timer-label {
    color: var(--dim-text-color);
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.timer-content p.timer-countdown {
    color: var(--dim-text-color);
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 162%;
    margin-bottom: 8px;
}

p.timer-countdown img {
    margin-top: -3px;
    margin-right: 7px;
    margin-left: 7px;
}

button.timer-cta {
    width: 201px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F1F5FB;
    border-radius: 23.5px;
    color: var(--text-color-d);
    transition: 0.7s;
}

button.timer-cta img {
    margin-top: -3px;
    margin-right: 11px;
    margin-left: 11px;
}